<html>
	<head>
		<title>HCI-Man</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/animate.css" />
		<style>
			canvas {
				height: 100%;
				width: 100%;
			}
			body {
				margin: 0;
			}
		</style>
	</head>
	<body>
		<!-- <div class="jumbotron jumbotron-fluid animated fadeInDownBig" id="intro">
			<div class="container">
			  <h1 class="display-3">Welcome to HCI-Man</h1>
			  <p class="lead">A multiplayer pacman style game</p>
				<p class="lead">WASD to Move</p>
			  <hr class="my-4">
				<div class="form-inline">
				  <label class="sr-only" for="inlineFormInput">Username</label>
				  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="username" placeholder="Username">

				  <button type="button" class="btn btn-primary" onclick="init()">Play</button>
				</div>
			</div>
		</div> -->
		<div class="jumbotron jumbotron-fluid" id="end" style="display:none;">
			<div class="container">
			  <h1 class="display-3">Game Over</h1>
			  <p class="lead">You died, with a score of: <span id="score"></span></p>
			  <hr class="my-4">
				<p class="lead"><span id="reason"></span></p>
			  <button type="button" class="btn btn-primary" onclick="init()">Play Again</button>
				<button type="button" class="btn btn-primary" onclick="location.href='/leaderboard'">Leaderboard</button>
			</div>
		</div>
		<canvas id="canvas" style="display:none;"></canvas>
		<%- include partials/scripts.ejs %>
		<script>
			$( document ).ready(function() {
				init()
			});
			window.addEventListener( "keypress", controller, false )
			var socket;
			socket = io.connect('https://snake.ericmuir.co.uk/');

			var canvas, ctx, frame, time = 20, gameClock, score, username, paused = false;
			var bsize, bwidth, bheight, snake, snakevx, snakevy, map = [], fruit = {};
			var p1 = {}, p2 = {};

			function init(){
				username = $('#username').val()

				$('#intro').hide()
				$('#end').hide()
				$('#canvas').show()

		    canvas = document.getElementById("canvas");

		    canvas.width = document.body.clientWidth;
		    canvas.height = document.body.clientHeight;
				bsize = canvas.width / 100
				frame = 0;
				score = 0;

				bwidth = Math.ceil(canvas.width/bsize);
				bheight = Math.ceil(canvas.height/bsize);

		    if( canvas.getContext ){
					ctx = canvas.getContext('2d');
					gameClock = setInterval(update, time);
		    } else {
					alert("Your browser doesn't support HTML5 canvas. please use another browser")
				}

				for(h=0;h<bheight-1;h++){
					for(w=0;w<bwidth-1;w++){
						chance = Math.random()
						if(chance > 0.97){
							map.push("fruit")
						} else if(chance > 0.85){
							map.push(true)
						} else {
							map.push(false)
						}
					}

					socket.emit('startgame', {})
				}
			}

			function update(){
				frame++
				ctx.clearRect(0, 0, canvas.width, canvas.height)

				var cc = 0;
				for(h=0;h<bheight;h++){
					for(w=0;w<bwidth;w++){
						cc++
						height = h*bsize
						width = w*bsize

						ctx.fillStyle = "rgb(0, 0, 0)";
						ctx.fillRect (width, height, bsize, bsize);

						if(w == 0 || w == bwidth-1 || h == 0 || h == bheight-1){
							ctx.fillStyle = "rgba(255, 149, 10, 0.84)";
							ctx.fillRect (width, height, bsize, bsize);
						}

						if(map[w*h] == true){
							ctx.fillStyle = "rgba(255, 149, 10, 0.84)";
							ctx.fillRect (width, height, bsize, bsize);
						}

						if(map[w*h] == "fruit"){
							ctx.fillStyle = "rgba(10, 243, 255, 0.8)";
							ctx.fillRect (width, height, bsize, bsize);
						}

						ctx.strokeStyle = 'rgb(160,160,160)';
						ctx.strokeRect (width, height, bsize, bsize);
					}
				}
				// console.log(cc)

				ctx.fillStyle = "rgb(0, 0, 255)";
				ctx.fillRect (fruit.x*bsize, fruit.y*bsize, bsize, bsize);

				ctx.fillStyle = "rgba(33, 203, 11, 1)";
				ctx.fillRect (p1.x*bsize, p1.y*bsize, bsize, bsize);

				ctx.fillStyle = "rgba(150, 8, 8, 1)";
				ctx.fillRect (p2.x*bsize, p2.y*bsize, bsize, bsize);

				// ctx.fillText("Score: "+score, 20, 15)

				if(frame%30==0){
					// console.log(frame/30)
				}
			}

			function controller(e){
				key = e.keyCode
				if(key == 119){ // w
					if(snakevx == 0 && snakevy == 1){
						//ignore
					} else {
						snakevx = 0
						snakevy = -1
					}
				} else if (key == 100) { // d
					if(snakevx == -1 && snakevy == 0){
						//ignore
					} else {
						snakevx = 1
						snakevy = 0
					}
				} else if (key == 97) { // a
					if(snakevx == 1 && snakevy == 0){
						//ignore
					} else {
						snakevx = -1
						snakevy = 0
					}
				} else if (key == 115) { // s
					if(snakevx == 0 && snakevy == -1){
						//ignore
					} else {
						snakevx = 0
						snakevy = 1
					}
				} else if (key == 80) { // p
				  if (!paused){
				    clearInterval(gameClock);
				    paused = true;
				  } else {
				    gameClock = setInterval(update, time);
				    paused = false;
				  }
				} else {
					// console.log(e.keyCode)
				}
			}

			function gameOver(reason){
					console.log("Death by: "+reason)
					clearInterval(gameClock)
					ctx.clearRect(0, 0, canvas.width, canvas.height)
					$('#end').addClass('animated fadeInDownBig');
					$('#end').show()
					$('#canvas').hide()
					$('#score').html(score)
					$('#reason').html(reason)
					socket.emit('death',{
						username: username,
						score: score,
						time: Date.now()
					})
			}

			socket.on('news', function (data) {
				$.notify({
					title: data.title,
					message: " - "+data.body
				},{
					type: 'info'
				})
			});

			socket.on('game', function (data) {
				p1 = data.p1
				p2 = data.p2
			});
		</script>

	</body>
</html>
