<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />

    <title>HCI-Man | Client</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="intro" class="fadeInDown">
        <div class="jumbotron jumbotron-fluid animated fadeInDownBig" id="intro">
            <div class="container">
                <h1 class="display-3">Welcome to HCI-Man</h1>
                <p class="lead">I don't really know what kind of game it is</p>
                <p class="lead">WASD to Move</p>
                <hr class="my-4">
                <div class="form-inline">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="username" placeholder="Username">
                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="servercode" placeholder="Server Key">

                    <button type="button" class="btn btn-primary" onclick="init()">Play</button>
                </div>
            </div>
        </div>
    </div>
    <div id="game" class="system" style="display: none;">
        <div class="screen-border">
            <canvas id="easel" class="screen" width="640" height="560"></canvas>
        </div>
        <div class="controls">
            <h1 class="system-name">HCI-Man</h1>
            <div class="d-pad">
                <div id="d-up" class="button d up" onclick="input('up')"><span class="label">&#9650;</span></div>
                <div id="d-right" class="button d right" onclick="input('right')"><span class="label">&#9654;</span></div>
                <div id="d-down" class="button d down" onclick="input('down')"><span class="label">&#9660;</span></div>
                <div id="d-left" class="button d left" onclick="input('left')"><span class="label">&#9664;</span></div>
            </div>
            <div class="control-buttons">
                <div id="control-a" class="button control a" onclick="input('a')"><span class="label">A</span></div>
                <div id="control-b" class="button control b" onclick="input('b')"><span class="label">B</span></div>
            </div>
            <div class="meta-buttons">
                <div id="meta-start" class="button meta start" onclick="input('start')"><span class="label">Start</span></div>
                <div id="meta-select" class="button meta select" onclick="input('select')"><span class="label">Select</span></div>
            </div>
        </div>
    </div>
    <% include partials/scripts.ejs %>
</body>

</html>